# 合并train.csv和valid.csv

In [2]:
import pandas as pd
train = pd.read_csv("./datatest/train.tsv", sep='\t')
valid = pd.read_csv("./datatest/valid.tsv", sep='\t')
logdata = pd.concat([train, valid], axis=0)
logdata['UserID'] = logdata['UserID'].apply(lambda x: int(x[1:]))

In [3]:
from datetime import datetime
logdata['start'] = logdata['start'].apply(lambda str_t: int(datetime.strptime(str_t, '%m/%d/%Y %I:%M:%S %p').timestamp()))
logdata['end'] = logdata['end'].apply(lambda str_t: int(datetime.strptime(str_t, '%m/%d/%Y %I:%M:%S %p').timestamp()))
logdata

,UserID,ClicknewsID,dwelltime,exposure_time,pos,neg,start,end,dwelltime_pos
0,335175,N41340 N27570 N83288 N100653 N105490 N88971 N5...,116 23 59 146 661 303 59 199 165 144 110 29 32...,6/19/2019 5:10:01 AM#TAB#6/19/2019 5:11:58 AM#...,N55476 N103556 N52756 N58377 N98303,N48119 N92507 N92467 N35759 N16584 N56727 N449...,1562136229,1562137566,34 83 79 234 16
1,146053,N95202 N84319 N43563 N78688 N94858 N60541 N109...,105 62 41 11 52 300 55 17 73 52 145 24 96 38 3...,6/14/2019 11:54:18 AM#TAB#6/14/2019 11:57:02 A...,N77413 N88971 N65878,N92854 N40725 N39488 N76001 N82971 N74955 N345...,1561285682,1561287290,5 34 90
2,158889,N104156 N103864 N51305 N109347 N70019 N106791 ...,175 58 2 871 169 69 10,6/17/2019 1:23:34 PM#TAB#6/17/2019 1:27:47 PM#...,N72751 N62314,N84182 N72110 N122127 N24095 N96945 N26759 N34...,1561711800,1561712409,246 137
3,22232,N25386 N35729 N32113 N102243 N62352 N22227 N10...,4 15 3 31 9 26 216 208 58 7 481 32 5 29 13 2 1...,6/15/2019 10:42:34 AM#TAB#6/15/2019 10:43:35 A...,N31619 N98303,N90820 N44438 N43527 N55476 N23227 N49161 N564...,1562164070,1562164304,20 8
4,32515,N55509 N15992 N27093 N78610 N13691 N103166 N11...,47 123 54 166 29 56 10 131 298 1592 146 48 45 ...,6/14/2019 3:15:04 PM#TAB#6/14/2019 3:16:31 PM#...,N78883 N56068,N111634 N19030 N122006 N32123 N50002 N42107 N2...,1561540816,1561542927,105 279
...,...,...,...,...,...,...,...,...,...
99995,285759,N59531 N85449 N95202 N115765 N17380 N30210 N16...,239 23 116 10 45 2 981 200 16 29 111 111 95 10...,6/14/2019 5:22:32 AM#TAB#6/14/2019 9:42:06 AM#...,N108612,N75212 N88344 N43429 N97589 N113446 N15567 N58...,1562852889,1562853482,53
99996,218615,N72931 N78965 N75910 N63119 N51924 N113705 N68...,84 21 224 301 95 72 55 3 27 241 128 7 291 3 14...,6/17/2019 7:34:10 AM#TAB#6/17/2019 7:35:34 AM#...,N45920 N26210,N76398 N99644 N122041 N74750 N99590 N24878 N28...,1562930255,1562932214,53 49
99997,211333,N40378 N111007 N42004 N77553 N32506 N114741 N1...,139 213 137 67 113 53 74 7 349 44 776 224 80 8...,6/19/2019 4:52:48 AM#TAB#6/22/2019 6:28:50 AM#...,N60472,N69626 N118111 N24140 N26677 N37326 N114891 N5...,1562526001,1562526446,44
99998,73912,N46285 N94044 N53781 N34430 N25990 N51035 N829...,514 51 144 67 278 2 10 68 64 19 209 3 34 185 6...,6/18/2019 6:32:10 AM#TAB#6/18/2019 10:23:19 AM...,N28288 N58511,N64802 N54732 N80456 N28377 N78907 N24351 N581...,1562739619,1562740658,156 668
99999,379123,N51238 N20249 N17376 N47429 N27005 N91340 N118...,102 147 3 52 36 2 66 167 105 71 24 119 41 16 1...,6/14/2019 11:35:02 AM#TAB#6/14/2019 11:36:45 A...,N81781 N120514,N13419 N52118 N56557 N19383 N76025 N103156 N12...,1562404114,1562404896,64 230

In [4]:
def f1(str_t):
    str_t_list = str_t.split('#TAB#')
    timestamp_list = list(map(lambda str_t: str(int(datetime.strptime(str_t, '%m/%d/%Y %I:%M:%S %p').timestamp())), str_t_list))
    return ' '.join(timestamp_list)
logdata['exposure_time'] = logdata['exposure_time'].apply(lambda str_t: f1(str_t))

In [6]:
logdata = logdata.sort_values('UserID', ascending=True)
logdata = logdata.drop_duplicates(subset='UserID', keep='last')
logdata.to_csv("./datatest/single_userid_log.csv", index=False)
logdata

,UserID,ClicknewsID,dwelltime,exposure_time,pos,neg,start,end,dwelltime_pos
48477,0,N104663 N12695 N103228 N113834 N18912 N37859 N...,21 17 283 100 61 27 43 2 10 21 143 19 13 32 58...,1560874325 1560874419 1560874513 1560874854 15...,N77797,N120089 N13026 N82367 N100945 N21191 N118871 N...,1562862347,1562862402,2
156398,1,N122364 N73739 N85806 N42190 N23894 N50223 N56...,124 1238 33 4 4 6 50 587 42 17 29 4 9 240 86,1560493879 1560499618 1560751689 1560751696 15...,N13688,N119254 N27114 N57713 N12630 N103034 N93930 N9...,1561637812,1561637902,36
69227,2,N66546 N83107 N96151 N91340 N95302 N59993 N111...,18 60 34 3 84 100 87 16 68 66 23 49 74 108 175...,1560582397 1560582416 1560582561 1560582596 15...,N73460,N117329 N80456 N20725 N24351 N58146 N29880 N89...,1562732437,1562733481,282
191762,3,N56738 N24616 N117627 N27356 N32637 N52403 N10...,1869 84 4 1959 105 46 2166 56 51,1560594233 1560616403 1560616487 1560679860 15...,N78447,N49558 N58481 N58618 N70300 N35271 N79855 N170...,1561456715,1561457205,449
347137,4,N62603 N80819,89 276,1560772462 1561092206,N27595,N120510 N112080 N14872 N50693 N99016 N108858 N...,1561185960,1561186016,50
...,...,...,...,...,...,...,...,...,...
329127,445760,N122875 N72931 N17380 N12470 N55167 N42583 N12...,20 70 52 63 7 1292 4 160 93 13 728 64 13 90 16...,1560503263 1560756867 1560765835 1560852475 15...,N25771 N55475,N68344 N36828 N12103 N46272 N77255 N93339 N791...,1562056785,1562056954,114 30
25402,445761,N119020 N15248 N27807 N121334 N114190 N115737 ...,21 73 1671 16 103 242 57 2 1358 134 161 32 204...,1560484512 1560486842 1560489214 1560500661 15...,N68256 N23806 N17892,N20645 N80456 N24351 N58146 N29880 N89957 N593...,1562730421,1562730856,12 108 119
185418,445762,N51943 N80696 N119816 N107795,1395 181 480 115,1560463658 1560465068 1560631341 1560631826,N88929,N95772 N42583 N59544 N55159 N37827 N33084,1560892699,1560892785,74
293770,445763,N39579 N72681 N25286,45 9 73,1561013279 1561450313 1561560861,N39893,N60753 N16584 N56727 N116560 N57422 N32773 N66...,1562140058,1562142609,525
6834,445764,N88470 N87417 N29427 N23681 N31774 N53399 N389...,255 222 108 3 178 232 63 49 730 114 10 13 7 18...,1560771625 1560771890 1560788055 1560851479 15...,N76624 N90751,N110460 N71979 N38633 N42107 N64949 N25975 N10...,1561573817,1561574484,342 234

# 单线程速度过慢，使用多线程操作，见process.sh

In [9]:
# 创建一个新的DataFrame
from tqdm import tqdm
df = pd.DataFrame(columns=['user_id', 'news_id', 'start_ts', 'duration'])

for _, row in tqdm(logdata.iterrows(), total=len(logdata)):
    user_id = int(row['UserID'])
    news_id_list = row['ClicknewsID'].split(' ')
    duration_list = row['dwelltime'].split(' ')
    start_timestamp_list = row['exposure_time'].split(' ')
    
    assert len(news_id_list) == len(duration_list)
    assert len(news_id_list) == len(start_timestamp_list)
    
    # 速度过慢，只assert数据集是否正确
    # for i in range(len(news_id_list)):
    #     news_id = int(news_id_list[i][1:]) - 10000
    #     duration_time = int(duration_list[i])
    #     start_timestamp = int(start_timestamp_list[i])
    #     df.loc[len(df)] = [user_id, news_id, start_timestamp, duration_time]
df = df.sort_values('start_ts', ascending=True)

100%|██████████| 445765/445765 [00:39<00:00, 11252.11it/s]

# 合并并行得到的csv文件

In [2]:
import os, tqdm
import pandas as pd

his_csv_path = "./logcsvs"
csv_file_list = []
for filename in tqdm.tqdm(os.listdir(his_csv_path)):
    if filename.startswith('userid_'):
        csv_file = pd.read_csv(os.path.join(his_csv_path, filename))
        csv_file_list.append(csv_file)
cur_csv = pd.concat(csv_file_list, axis=0)
cur_csv

100%|██████████| 101/101 [00:09<00:00, 10.20it/s]

        user_id  news_id    start_ts  duration
0        356560     1338  1560470664        30
1        356560     7355  1560472217        52
2        356560    48081  1560486081        36
3        356560     5107  1560492256        13
4        356560    73107  1560492571        10
...         ...      ...         ...       ...
271421     4456     1096  1561946289        12
271422     4456    76263  1561946319        23
271423     4456    49619  1561946349        66
271424     4456    95181  1561946423       143
271425     4456    61444  1561946571       109

[27182788 rows x 4 columns]

In [3]:
cur_csv = cur_csv.sort_values('start_ts', ascending=True)
cur_csv.to_csv("./datatest/log.csv", index=False)
cur_csv

        user_id  news_id    start_ts  duration
48579    201361    79953  1560416400         1
176991   123220    12644  1560416400       135
116998    50952   111675  1560416400        27
255299    57712    48081  1560416400        24
148585   381295    46939  1560416400        57
...         ...      ...         ...       ...
76572      5668    38090  1562834453        68
76573      5668    64897  1562834530        95
93972    108490    70161  1562834630        20
93973    108490    83595  1562834640       273
76574      5668    71749  1562834655        90

[27182788 rows x 4 columns]